html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("img/table2.jpeg");
  /* height: 100vh; */
  font-family: "Zilla Slab", serif;
  padding: 12px;
  text-align: center;
}

h1 {
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;
}

#cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 8px solid rgb(152, 177, 131);
  border-radius: 12px;
  color: rgb(152, 177, 131);
  padding: 64px 24px 24px 24px;
  margin: 0 24px;
  min-height: 530px;
  position: relative;
}

#cards-container p:first-of-type {
  margin-bottom: 48px;
}

#card-one,
#card-two {
  border: 3px solid rgb(152, 177, 131);
  border-radius: 5px;
  height: 150px;
  width: calc(150px * 5 / 7);
  padding: 14px;
}

img.card {
  width: 100%;
}

button {
  background-color: #fff100;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-family: "Zilla Slab", serif;
  font-size: 1.2em;
  padding: 12px 24px;
  margin: 0 auto;
}

button#draw-button {
  margin: 24px;
}
button#deal-button {
  background-color: darkgoldenrod;
}

#result,
#ready,
#deck-count {
  margin: 12px auto;
  font-family: "Zilla Slab", serif;
  color: white;
  font-size: 1.4rem;
}

#deck-count {
  font-size: 1.2rem;
}

#player-score,
#dealer-score {
  position: absolute;
  font-size: 3vh;
  color: white;
}

#dealer-score {
  top: 24px;
  right: 24px;
}

#player-score {
  bottom: 24px;
  left: 24px;
}
